In [18]:
import pandas as pd
import numpy as np

x = np.random.normal(0, 1, (5, 5))
df = pd.DataFrame(x)
df

          0         1         2         3         4
0  0.768740  1.005517 -1.043972 -2.587865 -0.217278
1  1.534356 -0.051184 -0.079000 -0.975265 -0.425842
2  0.787309 -0.445309 -1.468585 -1.302142 -0.165348
3 -1.609889 -1.022854 -0.807575  1.598512 -1.543254
4 -0.343437 -0.643723  0.318130 -1.581911 -0.956162

In [19]:
df["index"] = range(0, 5)
df = df.melt(id_vars="index")
df = df.rename(columns={'index':'p', 'variable':'q'})
df

    p  q     value
0   0  0  0.768740
1   1  0  1.534356
2   2  0  0.787309
3   3  0 -1.609889
4   4  0 -0.343437
5   0  1  1.005517
6   1  1 -0.051184
7   2  1 -0.445309
8   3  1 -1.022854
9   4  1 -0.643723
10  0  2 -1.043972
11  1  2 -0.079000
12  2  2 -1.468585
13  3  2 -0.807575
14  4  2  0.318130
15  0  3 -2.587865
16  1  3 -0.975265
17  2  3 -1.302142
18  3  3  1.598512
19  4  3 -1.581911
20  0  4 -0.217278
21  1  4 -0.425842
22  2  4 -0.165348
23  3  4 -1.543254
24  4  4 -0.956162